<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Calculator</title>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<h1>Calculator</h1>
{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
{% block javascripts %}
{% endblock %}
</body>
</html>